div.container {
  margin: 0px;
  padding: 0px;
}

/*
* Header Art
*/

div.headerArtImg.col-md-12 {
  background: url("/images/headerArt.png") center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  height: 25vw;
  top: 1vw;
  margin-top: 5px;
}

div.headerArt {
  background-color: #302f2f;
  top: 5vw;
  height: 27vw;
}

/*
* Header Title
*/

h1.header-title {
  text-align: center;
  font-size: 2.3em;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}
