div.container {
  margin: 0px;
  padding: 0px;
}

div.headerArtImg.col-md-12 {
  background: url("/images/headerArt.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vw;
  margin-top: 5px;
}

/*div.panelL.col-md-4 {
  background: url("/images/panel01.png");
  height: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 5px;
}

div.panelM.col-md-4 {
  background: url("/images/panel02.png");
  height: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 5px;
}

div.panelR.col-md-4 {
  background: url("/images/panel03.png");
  height: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 5px;
}*/

div.headerArt {
  background-color: #302f2f;
  height: 41vw;
}
