.update-buttons{
  display: flex;
  justify-content: center;*/
  margin-top: 10vw;
 margin-left: 33vw;
}

.update-profile {
  margin-top: 5vw;
  /*display: flex;
  justify-content: center;*/
  padding: 20px;
}


/*
* input field
*/

div.update-profile_form.col-md-12 {
  display: flex;
  justify-content: center;
}

div.update-profile_form.col-md-12 > h2 {
  color: #878383;
  letter-spacing: 2px;
  font-size: 20px;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 10vw;
  /*width: 700px;*/
	max-width: 700px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	-webkit-appearance: none;
}

span.input.input--update {
  display: block;
  width: 700px;
	max-width: 700px;
  padding: 20px;
}

input#form-displayName.input__field.input__field--update {
  top: 30px;
}

input#form-email.input__field.input__field--update {
  top: 30px;
}

input#form-newpassword.input__field.input__field--update {
  top: 30px;
}

label.input__label.input__label--update {
  height: 75px;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}


/* Individual styles */

/* update */

.input--update {
	margin: 4em 1em 1em;
}

.input__field--update {
	padding: 0.4em 0.25em;
	width: 100%;
	background: transparent;
	color: #AFB5BB;
	font-size: 1.55em;
}

.input__label--update {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--update {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--update::before,
.input__label--update::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 4px;
	background: #6a7989;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--update::before {
	top: 0;
}

.input__label--update::after {
	bottom: 0;
}

.input__field--update:focus + .input__label--update .input__label-content--update,
.input--filled .input__label-content--update {
	-webkit-transform: translate3d(0, -90%, 0);
	transform: translate3d(0, -90%, 0);
}

.input__field--update:focus + .input__label--update::before,
.input--filled .input__label--update::before {
	-webkit-transform: translate3d(0, -0.5em, 0);
	transform: translate3d(0, -0.5em, 0);
}

.input__field--update:focus + .input__label--update::after,
.input--filled .input__label--update::after {
	-webkit-transform: translate3d(0, 0.5em, 0);
	transform: translate3d(0, 0.5em, 0);
}


/*
*  Update button
*/

.update-user{
  /*position: relative;*/
  vertical-align: center;
  margin: 30px;
  /*width: 100%;*/
  height: 60px;
  padding: 20px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #62b1d0;
  border: 0;
  border-bottom: 3px solid #9FE8EF;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -3px #9FE8EF;
  box-shadow: inset 0 -3px #9FE8EF;
}
.update-user:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.update-user:hover {
  background: #45E1E8;
}



/*
*  Remove button
*/

.remove-user{
  /*position: relative;*/
  vertical-align: center;
  margin: 30px;
  /*width: 100%;*/
  height: 60px;
  padding: 20px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #d06262;
  border: 0;
  border-bottom: 3px solid #ef9f9f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -3px #ef9f9f;
  box-shadow: inset 0 -3px #ef9f9f;
}
.remove-user:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.remove-user:hover {
  background: #ff1d1d;
}
