/*
* about
*/
h1.about {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 10vw;
  color: #494949;
  /*padding-left: 8vw;*/
}

div.aboutImg {
  background-color: orange;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  height: 25vw;
  margin-top: 30px;
}

div.aboutText p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #878383;
  margin-top: 30px;
  font-size: 1em;
  height: 25vw;
  display: inline-block;
}

/*
* signUp
*/

h2.signUpTitle {
  margin-top: 75px;
  text-align: center;
  color: #494949;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

button.SignUp {
  margin-top: 25px;
  margin-bottom: 50px;
  color: white;
  background-color: #007579;
  animation: pulse 2s infinite;
}

button.SignUp:hover {
  background-color: #00d6bc;
  border: 3px solid #006054;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,159,139, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0,159,139, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,159,139, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,159,139, 0.8);
    box-shadow: 0 0 0 0 rgba(0,159,139, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0,159,139, 0);
      box-shadow: 0 0 0 10px rgba(0,159,139, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0,159,139, 0);
      box-shadow: 0 0 0 0 rgba(0,159,139, 0);
  }
}

/*button.SignUp:hover {
    background-color: #00d6bc;
    border: 3px solid #006054;
}*/
