/*
* Join Room Input
*/
div.url-row, div.landingfeatures-join-rm {
  display: flex;
  justify-content: center;
}

div.url-row {
  margin-top: 50px;
}

label.joinRmLabel.control-label {
  margin-bottom: 20px;
}

input#joinroom {
  height: 50px;
  width: 250px;
  display: inline;
}


/*
* Join Room Button
*/
div.joinroom-button {
  margin-left:10px;
}

div.joinroom-button {
  position:relative;
  vertical-align: middle;
  color: #0b7;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid #0b7;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
}

div.joinroom-button:hover {
  border: 2px solid rgba(0,160,80,0);
  color: #ff9000;
}

div.joinroom-button::before, div.joinroom-button::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.5s;
}

div.joinroom-button::before {
  border-bottom: 3px solid #ff9000;
  border-left: 3px solid #ff9000;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
}

div.joinroom-button::after {
  border-top: 3px solid #ff9000;
  border-right: 3px solid #ff9000;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
}


div.joinroom-button:hover::after, div.joinroom-button:hover::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}




/*
* about
*/


@import 'https://csshake.surge.sh/csshake-hard.min.css';
@import "https://fonts.googleapis.com/css?family=Rock+Salt";



h1#how-title {
  text-align: center;
  /*font: 300% 'Raleway', sans-serif, monospace;*/
  font: 250% 'Raleway', sans-serif;
  margin-top: 10vw;
  margin-bottom: 6vw;
  margin-left: 6vw;
  color: #494949;
  display: flex;
  justify-content: center;
}


div.featureFrame01.col-md-4.col-xs-4{
  padding-left: 0px;
  padding-right:30px;
}

div.featureFrame03.col-md-4.col-xs-4{
  padding-left: 30px;
  padding-right: 0px;
}

div.features01 {
  background-color: rgba(243,150,72,1);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  height: 15vw;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
  -webkit-transition: margin 150ms ease-in-out;
  -moz-transition: margin 150ms ease-in-out;
  -o-transition: margin 150ms ease-in-out;
}

div.features01:hover {
  cursor: pointer;
  /*margin-top: 5px;*/
  margin-top: -10px;
  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.4);
  transform: translate(0, -8);
}


div.features02 {
  background-color: gray;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: rgba(243,245,242,1);
  height: 15vw;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
  -webkit-transition: margin 150ms ease-in-out;
  -moz-transition: margin 150ms ease-in-out;
  -o-transition: margin 150ms ease-in-out;
}

div.features02:hover {
  cursor: pointer;
  /*margin-top: 5px;*/
  margin-top: -30px;
  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.4);
  transform: translate(0, -8);
}

div.features03 {
  background-color: rgba(243,150,72,1);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: rgba(243,245,242,1);
  height: 15vw;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
  -webkit-transition: margin 150ms ease-in-out;
  -moz-transition: margin 150ms ease-in-out;
  -o-transition: margin 150ms ease-in-out;
}

div.features03:hover {
  cursor: pointer;
  /*margin-top: 5px;*/
  margin-top: -30px;
  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.4);
  transform: translate(0, -8);
}
