/*.master-room-responses-row {
  position: relative;
}*/

.master-room-header {
  margin-top: 100px;
  min-height: 120px;
}

.master-room-stats {
  min-height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*#master-room-responses-column {
  position: relative;
}*/

.master-room-roomName-col {
  height: 120px;
}

.master-room-isActive-col {
  height: 120px;
}

#room-active-checkbox {
  margin: 0 auto 1vh 0;
  height: 60px;
  padding: 0 0 0 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#room-active-checkbox > input[type="checkbox"] {
  display: none;
}

#room-active-checkbox-toggle:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 1px;
  width: 80px;
  height: 8px;
  background-color: rgba(73,73,73,1);
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#room-active-checkbox > input:checked + #room-active-checkbox-toggle:before {
  background-color: rgba(0,233,143,1);
}

#room-active-checkbox-toggle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(243,245,242,1);
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation-name: pulsein;
          animation-name: pulsein;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

#room-active-checkbox > input:checked + #room-active-checkbox-toggle:after {
  background-color: rgba(0,233,143,1);
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-animation-name: pulseout;
          animation-name: pulseout;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

#room-active-checkbox > span {
  margin: 7px 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  letter-spacing: normal;
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: rgba(73,73,73,1);
}

.stat-display {
  font-size: 60px;
  font-family: 'Comfortaa', cursive;
}

.master-room-asked-col, .master-room-complete-col, .master-room-online-col {
  text-align: center;
}

.master-room-isActive-col {
  text-align: right;
  padding-top: 30px;
  padding-right: 50px;
}
