/* NOTE: This stylesheet has an extension named NavbarUser.css dependent on this stylesheet. It is used in conjunction with NavbarUser.css for NavbarUser.js. */

/*Entire header styling*/

.navbar-header {
  margin-left: 50px;
  padding-left: 50px;
}

.navbar-brand {
  margin-top: 10px;
  font-family:'Yatra One', cursive;
}

.navbar-inverse {
  background-color: rgba(243,245,242,1);
  box-shadow: 0px 0px 30px black;
  border-bottom: none;
  background-image: -moz-gradient(to bottom,rgba(47,120,139,1) 0,rgba(8,154,136,1) 100%);
  background-image: -webkit-linear-gradient(to bottom,rgba(47,120,139,1) 0,rgba(8,154,136,1) 100%);
  background-image: linear-gradient(to bottom,rgba(47,120,139,1) 0,rgba(8,154,136,1) 100%);
}

#bs-example-navbar-collapse-1 > .row {
  position: relative;
  float: inherit;
}

#bs-example-navbar-collapse-1 > div:nth-child(1) > div.col-sm-push-9.col-sm-3.col-md-push-8.col-md-4.col-lg-push-9.col-lg-3 > ul {
  position: inherit;
  float: left;
}

/*These styles below are exclusive to small tablets and mobile display sizes.*/
@media only screen and (max-width: 767px) {

  /*These styles below are for the ul of the mobile menu.*/

  #bs-example-navbar-collapse-1 > div:nth-child(1) > div.col-sm-push-9.col-sm-3.col-md-push-8.col-md-4.col-lg-push-9.col-lg-3 > ul {
    background-color: none;

  }
  /*These styles above are for the ul of the mobile menu.*/
  /*These styles below are for the button that drops down the mobile menu.*/
  .navbar-inverse .navbar-toggle {
    border-color: rgba(8,154,136,1);
    border-width: 0px 0px 5px 5px;
  }

  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:active,
  .navbar-inverse .navbar-toggle:focus {
    border-color: rgba(243,245,242,1);
  }

  .navbar-header > button {
    height: 70px;
    width: 70px;
    top: -10px;
    border-radius: 0em 0em 0em 3em;
  }

  .navbar-header > button > .glyphicon-menu-hamburger {
    color: rgba(243,245,242,1);
    font-size: 40px;
    top: 0px;
    left: 5px;
  }

  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:active,
  .navbar-inverse .navbar-toggle:focus {
    background-color: inherit;
  }

  .navbar-header > button > .glyphicon-menu-hamburger:hover:active {
    color: rgba(8,154,136,1);
  }

  .navbar-inverse .navbar-toggle:hover:active {
    border: 2px solid;
    border-color: rgba(243,245,242,1);
    background-color: rgba(243,245,242,1);
  }

  /*These styles above are for the button that drops down the mobile menu.*/

  /*These styles above are for the button group list*/

  #bs-example-navbar-collapse-1 > div:nth-child(1) > div.col-sm-push-7.col-sm-5.col-md-push-8.col-md-4.col-lg-push-9.col-lg-3 > ul {
    margin: 0;
    padding: 0;
    display: block;
  }

  /*Mobile Log In Button - below*/
    /*Mobile Log In Button : default - below*/
    .login-btn, .login-btn:active, .login-btn:focus {
      display: block;
      position: relative;
      margin: 0 auto auto;
      border: 5px solid rgba(8,154,136,1);
      border-radius: 0em 0em 2em 2em;
      padding: 0 0 0 0;
      transition: all .4s ease;
      position: relative;
      height: 40px;
      width: 60%;
      box-shadow: none;
      background-color: rgba(8,154,136,1);
      background-image: none;
    }

    .login-btn:before, .login-btn:active:before, .login-btn:focus:before {
      z-index: -1;
      -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
      transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      -webkit-transition: -webkit-transform .3s, opacity .3s, background-color .3s;
      transition: transform .3s, opacity .3s, background-color .3s
    }

    .login-btn > a {
      color: rgba(243,245,242,1);
      text-shadow: none;
      text-decoration: none;
    }
    /*Mobile Log In Button : default - above*/

    .login-btn:before {
      opacity: 1;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
      -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
      transition-timing-function: cubic-bezier(.2, 1, .3, 1)
    }

    /*Mobile Log In Button : Hover - below*/

    .login-btn:hover:before {
      opacity: 1;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
      -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
      transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    }

    .login-btn:hover {
      border: 5px solid rgba(8,154,136,1);
      background-color: rgba(243,245,242,1);
    }

    .login-btn:hover > a {
      color: rgba(8,154,136,1);
    }
    /*Mobile Log In Button : Hover - above*/
    /*Mobile Log In Button : Hover : Active - below*/

    .login-btn:hover:active {
      border: 5px solid rgba(243,150,72,1);
      box-shadow: none;
      background-color: rgba(243,150,72,1);
    }

    .login-btn:hover:active > a {
      color: rgba(243,245,242,1);
      text-shadow: none;
      text-decoration: none;
    }

    /*Mobile Log In Button : Hover : Active - above*/
  /* Mobile Log In Button - above  */
  /* Mobile Sign Up Button - below */
    /*Mobile Sign Up Button : default - below*/

    .signup-btn, .signup-btn:active, .signup-btn:focus {
      display: block;
      position: relative;
      margin: 0 auto;
      border: 5px solid rgba(8,154,136,1);
      border-radius: 2em 2em 0em 0em;
      padding: 0 0 0 0;
      transition: all .4s ease;
      position: relative;
      height: 40px;
      width: 60%;
      box-shadow: none;
      background-color: rgba(8,154,136,0);
      background-image: none;
    }

    .signup-btn:before, .signup-btn:before:active, .signup-btn:before:focus {
      z-index: -1;
      -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
      transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      -webkit-transition: -webkit-transform .3s, opacity .3s, background-color .3s;
      transition: transform .3s, opacity .3s, background-color .3s
    }

    .signup-btn > a {
      color: rgba(243,245,242,1);
      text-decoration: none;
      transition: all .4s ease;
    }

    /*Mobile Sign Up Button : default - above*/
    /*Mobile Sign Up Button : Hover - below*/

    .signup-btn:hover:before {
      opacity: 1;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
      -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
      transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    }

    .signup-btn:hover {
      border: 5px solid rgba(8,154,136,1);
      background-color: rgba(243,245,242,1);
    }

    .signup-btn:hover > a {
      color: rgba(8,154,136,1);
    }

    /*Mobile Sign Up Button : Hover - above*/
    /*Mobile Sign Up Button : Hover : Active - below*/
    .signup-btn:hover:active {
      border: 5px solid rgba(243,150,72,1);
      box-shadow: none;
      background-color: rgba(243,150,72,1);
    }

    .signup-btn:hover:active > a {
      color: rgba(243,245,242,1);
      text-shadow: none;
      text-decoration: none;
    }
    /*Mobile Sign Up Button : Hover : Active - above*/
  /*Mobile Sign Up Button - above*/

/*These styles above are for the mobile login form and button on the UL.*/
}
/*These styles above are exclusive to small tablets and mobile display sizes.*/

/*These styles below are exclusive to tablets and desktop display sizes.*/
@media only screen and (min-width: 768px) {

  .navbar-header {
    margin-left: 50px;
    padding-left: 50px;
  }

  #bs-example-navbar-collapse-1 > div:nth-child(1) > div.col-sm-push-7.col-sm-5.col-md-push-8.col-md-4.col-lg-push-9.col-lg-3 > ul {
    margin-top: 4px;
  }

  /*These styles below are for the sign up button*/
  .signup-btn {
    display: inline-block;
    vertical-align: top;
    border: 5px solid rgba(8,154,136,1);
    border-radius: 2em 2em 2em 2em;
    padding: 0 0 0 0;
    transition: all .4s ease;
    position: relative;
    height: 40px;
    box-shadow: none;
    background-color: rgba(8,154,136,0);
    background-image: none;
  }

  .signup-btn > a {
    color: rgba(243,245,242,1);
    text-decoration: none;
    transition: all .4s ease;
  }
  /*These styles below are for the sign up button*/


  /*These styles below are for the log in button*/

  .login-btn {
    display: inline-block;
    vertical-align: top;
    border: 5px solid rgba(8,154,136,1);
    border-radius: 2em 2em 2em 2em;
    padding: 0 0 0 0;
    transition: all .4s ease;
    position: relative;
    height: 40px;
    box-shadow: none;
    background-color: rgba(8,154,136,0);
    background-image: none;
    margin-left: 10px;
  }

  .login-btn > a {
    color: rgba(243,245,242,1);
    text-shadow: none;
    text-decoration: none;
  }

  /*These styles above are for the log in button*/

}
/*These styles above are exclusive to tablets and desktop display sizes.*/

.navbar-toggle {
  top: 20px;
  height: 100%;
}

.navbar-brand {
  height: 100%;
}

  .navbar-brand img {
    margin-left: 20px;
  }

/* NOTE: This stylesheet has an extension named NavbarUser.css dependent on this stylesheet. It is used in conjunction with NavbarUser.css for NavbarUser.js. */
