/* NOTE: This stylesheet has an extension named NavbarUser.css dependent on this stylesheet. It is used in conjunction with NavbarUser.css for NavbarUser.js. */

/*Entire header styling*/

.navbar-inverse {
  background-color: rgba(243,245,242,1);
  box-shadow: 0px 0px 30px black;
  border-bottom: none;
  background-image: -moz-gradient(to bottom,rgba(47,120,139,1) 0,rgba(8,154,136,1) 100%);
  background-image: -webkit-linear-gradient(to bottom,rgba(47,120,139,1) 0,rgba(8,154,136,1) 100%);
  background-image: linear-gradient(to bottom,rgba(47,120,139,1) 0,rgba(8,154,136,1) 100%);
}

#bs-example-navbar-collapse-1 > .row {
  position: relative;
  float: inherit;
}

#bs-example-navbar-collapse-1 > div:nth-child(1) > div.col-sm-push-9.col-sm-3.col-md-push-8.col-md-4.col-lg-push-9.col-lg-3 > ul {
  position: inherit;
  float: right;
}

/*These styles below are exclusive to small tablets and mobile display sizes.*/
@media only screen and (max-width: 767px) {
  /*These styles below are for the ul of the mobile menu.*/
  #bs-example-navbar-collapse-1 > div:nth-child(1) > div.col-sm-push-9.col-sm-3.col-md-push-8.col-md-4.col-lg-push-9.col-lg-3 > ul {
    background-color: none;

  }
  /*These styles above are for the ul of the mobile menu.*/
  /*These styles below are for the button that drops down the mobile menu.*/
  .navbar-inverse .navbar-toggle {
    border-color: rgba(8,154,136,1);
    border-width: 0px 0px 5px 5px;
  }

  .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:active,
  .navbar-inverse .navbar-toggle:focus {
    border-color: rgba(243,245,242,1);
  }

  .navbar-header > button {
    height: 70px;
    width: 70px;
    top: -10px;
    border-radius: 0em 0em 0em 3em;
  }

  .navbar-header > button > .glyphicon-menu-hamburger {
    color: rgba(243,245,242,1);
    font-size: 40px;
    top: 0px;
    left: 5px;
  }

  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:active,
  .navbar-inverse .navbar-toggle:focus {
    background-color: inherit;
  }

  .navbar-header > button > .glyphicon-menu-hamburger:hover:active {
    color: rgba(8,154,136,1);
  }

  .navbar-inverse .navbar-toggle:hover:active {
    border: 2px solid;
    border-color: rgba(243,245,242,1);
    background-color: rgba(243,245,242,1);
  }

  /*These styles above are for the button that drops down the mobile menu.*/

  /*Mobile Log In Button - below*/
  #bs-example-navbar-collapse-1 > div > div > ul > li:nth-child(1) > form > button {
    background-color: rgba(243,245,242,1);
    border: 2px solid rgba(8,154,136,1);
    color: rgba(8,154,136,1);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    left: 10px;
    width: 24vw;
  }

  #bs-example-navbar-collapse-1 > div > div > ul > li:nth-child(1) > form > button:hover {
    background-color: rgba(8,154,136,1);
    border: 2px solid rgba(8,154,136,1);
    color: rgba(243,245,242,1);
  }

  #bs-example-navbar-collapse-1 > div > div > ul > li:nth-child(1) > form > button:hover:active {
    background-color: rgba(110,107,102,1);
    border: 2px solid rgba(110,107,102,1);
    color: rgba(243,245,242,1);
  }

/*Mobile Log In Button - above*/
/*Mobile Sign Up Button - below*/
  /*Mobile Sign Up Button : default - below*/
  #bs-example-navbar-collapse-1 > div > div > ul > li.nav-sign-up {
    background-color: rgba(8,154,136,1);
    margin-top: 10px;
    color: rgba(243,245,242,1);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    height: 100%;
    transition: all .4s ease;
    text-align: center;
    box-shadow: none;
  }
    #bs-example-navbar-collapse-1 > div > div > ul > li.nav-sign-up > a {
      color: rgba(243,245,242,1);
    }
  /*Mobile Sign Up Button : default - above*/
  /*Mobile Sign Up Button : Hover - below*/
  #bs-example-navbar-collapse-1 > div > div > ul > li.nav-sign-up:hover {
    background-color: rgba(243,245,242,1);
    box-shadow: none;
    border: solid rgba(8,154,136,1);
    color: rgba(8,154,136,1);
  }
    #bs-example-navbar-collapse-1 > div > div > ul > li.nav-sign-up:hover > a {
      color: rgba(8,154,136,1);
    }
  /*Mobile Sign Up Button : Hover - above*/
  /*Mobile Sign Up Button : Hover : Active - below*/
  #bs-example-navbar-collapse-1 > div > div > ul > li.nav-sign-up:hover:active {
    background-color: rgba(110,107,102,1);
    box-shadow: none;
    color: rgba(243,245,242,1);
    border-color: rgba(110,107,102,1);
  }
    #bs-example-navbar-collapse-1 > div > div > ul > li.nav-sign-up:hover:active > a {
      color: rgba(243,245,242,1);
    }
  /*Mobile Sign Up Button : Hover : Active - above*/
  /*Mobile Sign Up Button - above*/

/*These styles above are for the mobile login form and button on the UL.*/
}
/*These styles above are exclusive to small tablets and mobile display sizes.*/
/*These styles below are exclusive to tablets and desktop display sizes.*/
@media only screen and (min-width: 768px) {

  /*These styles below are for the log in button*/
  /*These styles above are for the log in button*/

  /*These styles below are for the sign up button*/
  .signup-btn {
    display: inline-block;
    vertical-align: top;
    border: 5px solid rgba(8,154,136,1);
    border-radius: 2em 2em 2em 2em;
    padding: 0 0 0 0;
    transition: all .4s ease;
    position: relative;
    height: 40px;
    box-shadow: none;
    background-color: rgba(8,154,136,0);
    background-image: none;
  }

  .signup-btn > a {
    color: rgba(243,245,242,1);
    text-decoration: none;
    transition: all .4s ease;
  }
  /*These styles below are for the sign up button*/


}
/*These styles above are exclusive to tablets and desktop display sizes.*/

.navbar-toggle {
  top: 20px;
  height: 100%;
}

.navbar-brand {
  height: 100%;
}

  .navbar-brand img {
  }

/* NOTE: This stylesheet has an extension named NavbarUser.css dependent on this stylesheet. It is used in conjunction with NavbarUser.css for NavbarUser.js. */
