footer {
  width: 100%;
  height: 15vh;
  background-color: rgba(8,154,136,1);
  position: relative;
}

  #footer-group-left {
    height: 30px;
    margin-left: 10vw;
    margin-bottom: 15px;
    position: relative;
  }

  #footer-logo {
    background-color: rgba(8,154,136,1);
    height: 6vh;
    display: inline-block;
    margin: 1vh 1vw 1vw 1vh;
  }

  #footer-credits {
    color: white;
    font-size: 90%;
    margin-left: 1vw;
    padding-top: 1vh;
    display: inline-block;
  }
