.room-post-qn-row {
  margin: 20vh 5vw 0 5vw;
}

#room-post-qn-group {
  position: relative;
  width: 100%;
}

  @media (min-width: 1920px) {
    .room-post-qn-row {
      margin: 120px 5vw 0 5vw;
    }
    #room-post-qn-group {
      margin-top: 3vh;
    }
    #room-post-qn-textarea:focus + #room-post-qn-textarea-label > #room-post-qn-textarea-label-span,
    #room-post-qn-textarea:valid + #room-post-qn-textarea-label > #room-post-qn-textarea-label-span {
      top: -165px;
      font-size: 22px;
    }
  }

  @media (min-width: 1280px) and (max-width: 1919px) {
    .room-post-qn-row {
      margin: 170px 5vw 0 5vw;
    }
    #room-post-qn-group {
      margin-top: 0vh;
    }
    #room-post-qn-textarea:focus + #room-post-qn-textarea-label > #room-post-qn-textarea-label-span,
    #room-post-qn-textarea:valid + #room-post-qn-textarea-label > #room-post-qn-textarea-label-span {
      top: -165px;
      font-size: 22px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1279px) {
    .room-post-qn-row {
      margin: 120px 5vw 0 5vw;
    }
    #room-post-qn-group {
      margin-top: 0vh;
    }
    #room-post-qn-textarea:focus + #room-post-qn-textarea-label > #room-post-qn-textarea-label-span,
    #room-post-qn-textarea:valid + #room-post-qn-textarea-label > #room-post-qn-textarea-label-span {
      top: -165px;
      font-size: 22px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1199px) {
    .room-post-qn-row {
      margin: 180px 5vw 0 5vw;
    }
    #room-post-qn-group {
      margin-top: 0vh;
    }
  }

  /* Bootstrap - Medium desktop */
  @media (min-width: 979px) and (max-width: 1023px) {
    .room-post-qn-row {
      margin: 15vh 5vw 1vh 5vw;
    }
    #room-post-qn-group {
      margin-top: 10vh;
    }
  }

  /* Bootstrap - Portrait tablet to landscape and desktop */
  @media only screen and (min-width: 768px) and (max-width: 978px) {
    .room-post-qn-row {
      margin: 13vh 5vw 1vh 5vw;
    }
    #room-post-qn-group {
      margin-top: 2vh;
    }
  }
  /* Bootstrap - Mobile */
  @media only screen and (min-width: 321px) and (max-width: 767px) {
    .room-post-qn-row {
      margin: 160px 5vw 1vh 5vw;
    }
    #room-post-qn-group {
      margin-top: 0vh;
    }
  }

  /* iPhone 5 */
  @media only screen and (max-width: 360px) {
    .room-post-qn-row {
      margin: 20vh 5vw 1vh 5vw;
    }
    #room-post-qn-group {
      margin-top: 0vh;
    }
  }

#room-responses-column {
  position: relative;
}

#room-responses-well {
  position: relative;
  margin: 0 0 18vh 0;
}

.name-modal-btn {
  display: none;
}

/* Below: Nice form */

/*
Basic input element using psuedo classes
*/

#room-post-qn-textarea:focus, #room-post-qn-btn:focus {
  outline: 0;
}
/* Question */

#room-post-qn-textarea {
  font-size: 24px;
  font-weight: 500;
  border-radius: 2px;
  margin: 0;
  padding: 1vh 1vw 1vw 1vh;
  border: none;
  width: 100%;
  background: rgba(243,245,242,0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

#room-post-qn-textarea + #room-post-qn-textarea-label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 10%;
  border-top: 3px solid rgba(242,133,23,1);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 4vh;
  font-size: 100%;
}

#room-post-qn-textarea-label {
  white-space: normal;
}

#room-post-qn-textarea-label-span {
  font-family: Raleway;
  font-weight: 600;
  letter-spacing: normal;
  font-size: 20px;
  background-color: rgba(243,245,242,1);
  padding: 10px 10px 10px 10px;
  position: inherit;
}

#room-post-qn-textarea:focus + #room-post-qn-textarea-label {
  width: 100%;
  border-top: 3px solid rgba(255,127,130,1);
}

#room-post-qn-textarea:valid {
  margin-top: 5vh;
}

#room-post-qn-textarea:focus {
  margin-top: 5vh;
  background: rgba(243,245,242,1);
}

#room-post-qn-textarea:focus + #room-post-qn-textarea-label > #room-post-qn-textarea-label-span,
#room-post-qn-textarea:valid + #room-post-qn-textarea-label > #room-post-qn-textarea-label-span {
  top: -125px;
  font-size: 22px;
  color: rgba(73,73,73,1);
}

#room-post-qn-textarea:valid + #room-post-qn-textarea-label {
  border-color: rgba(0,233,143,1);
}

#room-post-qn-textarea:invalid {
  box-shadow: none;
}

#room-post-qn-textarea + #room-post-qn-textarea-label > #room-post-qn-textarea-label-span {
  margin: 0 auto;
  position: absolute;
  color: rgba(73,73,73,1);
  top: -9vh;
  left: 0vw;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

#room-post-qn-btn {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 2vh 0 2vh 0;
  padding: 10px;
  cursor: pointer;
}

#room-post-qn-textarea:valid ~ #room-post-qn-btn {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

#room-post-qn-textarea:invalid ~ #room-post-qn-btn {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

#room-post-qn-btn:active, #room-post-qn-btn {
  border: 3px solid rgba(0,233,143,1);
  color: rgba(73,73,73,1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: none;
  line-height: 1;
  margin: 0.5em;
  padding: 0.8em 0.8em;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

#room-post-qn-btn:hover {
  background-color: rgba(0,233,143,1);
  color: rgba(73,73,73,1);
}

#room-post-qn-btn:hover:active {
  background-color: rgba(0,233,143,1);
  color: rgba(243,245,242,1);
}

#room-post-qn-btn:focus {
  border-color: rgba(0,255,78,1);
  color: rgba(0,233,143,1);
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255,255,255,0);
}

/* Above: Nice form */
/* Below: Bjorn's Fluid Checkbox */

#room-post-anon-checkbox {
  margin: 0 auto 1vh 0;
  height: 60px;
  padding: 0 0 0 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#room-post-anon-checkbox > span {
  margin: 7px 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  letter-spacing: normal;
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: rgba(73,73,73,1);
}

/* Bootstrap - Mobile */
@media only screen and (min-width: 321px) and (max-width: 767px) {
  #room-post-anon-checkbox > span {
    margin: 7px 0 0 0;
  }
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
  #room-post-anon-checkbox > span {
    margin: 0 0 0 0;
    position: relative;
    top: -3px;
  }
}

#room-post-anon-checkbox > input[type="checkbox"] {
  display: none;
}

#room-post-anon-checkbox-toggle:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 1px;
  width: 80px;
  height: 8px;
  background-color: rgba(73,73,73,1);
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#room-post-anon-checkbox > input:checked + #room-post-anon-checkbox-toggle:before {
  background-color: rgba(0,233,143,1);
}

#room-post-anon-checkbox-toggle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(243,245,242,1);
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation-name: pulsein;
          animation-name: pulsein;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

#room-post-anon-checkbox > input:checked + #room-post-anon-checkbox-toggle:after {
  background-color: rgba(0,233,143,1);
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-animation-name: pulseout;
          animation-name: pulseout;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

@-webkit-keyframes pulsein {
  0%, 100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}

@keyframes pulsein {
  0%, 100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}
@-webkit-keyframes pulseout {
  0%, 100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}
@keyframes pulseout {
  0%, 100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}
/* Above: Bjorn's Fuid Checkbox */
