.room-post-qn-row {
  margin: 20vh 5vw 0 5vw;
}

#room-post-qn-group {
  position: relative;
  width: 90%;
  margin: 0 5vw 3vw 5vw;
}

#room-post-anon-checkbox {
  margin: 0 auto 0 20px;
}

  #room-post-anon-checkbox > label {
    text-align: left;
    letter-spacing: normal;
    display: inline;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  #room-post-anon-checkbox > input[type="checkbox"] {
    display: inline;
  }

#room-responses-column {
  position: relative;
}

#room-responses-well {
  position: relative;
}
