/*
* Mission Statement
*/

#landing-greater-footer {
  width: 100%;
  max-height: 50vh;
  /*background-color: rgba(47,120,139,1);*/
  /*position: relative;*/
  /*background: url("/images/footerArt.png");
  background-repeat: no-repeat;
  background-size: contain;*/
}


#landing-mission-title {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Work-Sans', sans-serif;
  color: white;
  /*display: inline;*/
  position: absolute;
  display: flex;
  left: 10vw;
  justify-content: center;
  top: 29vw;
  /*width:50vw;*/
}

p#landing-mission-paragraph {
  text-align: center;
  font-size: 1em;
  font-family: 'Work-Sans', sans-serif;
  color: white;
  /*display: inline;*/
  position: absolute;
  display: flex;
  /*left: 10vw;*/
  justify-content: center;
  top: 33vw;
  /*width:50vw;*/
  margin: 5px;

}

/* for lg  */
@media (min-width: 1200px) {
  p#landing-mission-paragraph {
    left: 25vw;
    width: 50vw;
  }
  #landing-mission-title {
    left: 45vw;
    top: 30vw;
  }
  footer {
    bottom: 10vw;
  }
  .social-icons  {
    bottom: 1vw;
  }
}

/* for md  */
@media (min-width: 993px) and (max-width: 1200px) {
  p#landing-mission-paragraph {
    left: 25vw;
    width: 50vw;
  }
  #landing-mission-title {
    top: 30vw;
    left: 45vw;
  }
  footer {
    bottom: 8vw;
  }
  .social-icons  {
    bottom: 1vw;
  }
}

/* for sm  */
@media (min-width: 768px) and (max-width: 992px) {
  p#landing-mission-paragraph {
    font-size: 0.8em;
  }
  #landing-mission-title {
    left: 40vw;
    top: 30vw;
  }
  footer {
    bottom: 10vw;
  }
  .social-icons  {
      bottom: -2vw;
  }
}

/* for xs  */
@media (max-width: 768px) {
  p#landing-mission-paragraph {
    font-size: 0.8em;
    background-color: #7fd0c5;
    top: 40vw;
    width: 100vw;
    padding: 10px;
    left: -5vw;
  }
  #landing-mission-title {
    left: 38vw;
    font-size: 1em;
    top: 33vw;
  }
  footer {
    bottom: -7vw;
  }
  .social-icons  {
    bottom: 7vw;
  }
}


/* Footer Image */
div.landing-footer-img {
  background: url('/images/footerArt.png') center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -3vw;
  height: 50vw;
  position: relative;
}

/* Copyright */

footer {
  width: 100%;
  background-color: rgba(8,154,136,1);

  /*position: relative;*/
}

  #landing-footer-group-left {
    height: 30px;
    margin-left: 6vw;
    padding-top: 10px;
    /*margin-bottom: 15px;*/
    position: relative;
  }

  #landing-footer-logo {
    background-color: rgba(8,154,136,1);
    max-height: 6vh;
    min-height: 2vh;
    display: inline-block;
  }

  #landing-footer-credits {
    color: white;
    font-size: 1.5vh;
    margin-left: 1vw;
    padding-top: 20px;
    display: inline-block;
  }


p.follow-us {
  /*margin-left: 50vw;*/
  /*margin-right: 15px;*/
  color: white;
  margin-top: 1vw;
}

.social-icons {
  margin-top: 18px;
}


  /*
  * social icons
  */

  .social-btns .btn,
  .social-btns .btn:before,
  .social-btns .btn .fa {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
            transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .social-btns .btn:before {
    top: 90%;
    left: -110%;
  }
  .social-btns .btn .fa {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  .social-btns .btn.github:before {
    background-color: black;
  }
  .social-btns .btn.github .fa {
    color: black;

  }
  .social-btns .btn:focus:before,
  .social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
  }
  .social-btns .btn:focus .fa,
  .social-btns .btn:hover .fa {
    color: #fff;
    -webkit-transform: scale(.7);
            transform: scale(.7);
  }
  .social-btns {
    height: 3vw;
    width: 3vw;
    /*margin: auto;*/
    margin-left: 150px;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0vw;
    left: 0;
    right: 0;
    /*padding-left: 90vw;*/
  }
  .social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 6vw;
    height: 6vw;
    line-height: 20px;
    margin: 0 1vw;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
  }
  .social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .social-btns .btn .fa {
    font-size: 5vw;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    /*padding-bottom: 2vw;*/
  }

  a.btn.github {
    bottom: 2vw;

  }
