/*
* Mission Statement
*/

#landing-greater-footer {
  width: 100%;
  max-height: 50vh;
  background-color: rgba(47,120,139,1);
  position: relative;
}

#landing-mission-title {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin-top: 50px;
}

#landing-mission-paragraph {
  text-align: center;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-bottom: 70px;
}

/* Copyright */

footer {
  width: 100%;
  height: 50px;
  background-color: rgba(8,154,136,1);
  position: relative;
}

  #landing-footer-group-left {
    height: 30px;
    margin-left: 10vw;
    margin-bottom: 15px;
    position: relative;
  }

  #landing-footer-logo {
    background-color: rgba(8,154,136,1);
    max-height: 6vh;
    min-height: 2vh;
    display: inline-block;
  }

  #landing-footer-credits {
    color: white;
    font-size: 1.5vh;
    margin-left: 1vw;
    padding-top: 20px;
    display: inline-block;
  }
